body {
    font-family: Arial, sans-serif;
    background-color: #ebf5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #cfedf3;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 10px gray;
}

input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    padding: 8px 15px;
    background-color: #2c5d2e;
    color: white;
    border: none;
    cursor: pointer;
}
