<!DOCTYPE html>
<html>
<head>
    <title>EJS App</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/user">Users</a>
    </nav>