body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.chat-container {
  width: 350px;
  background: rgb(246, 211, 183);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

#chat-box {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #5f5c5c;
  padding: 10px;
  margin-bottom: 10px;
}

.chat-container h2 {
  text-align: center;
}

.message {
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
}

.user {
  background: #d1e7dd;
  text-align: right;
}

.bot {
  background: #f8d7da;
  text-align: left;
}

.input-area {
  display: flex;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px;
  cursor: pointer;
}